{{ if isset . "id" }}
   <div class="btn-wrapper {{ with .btnClass }}{{ . }}{{ end }}">
      <button id="{{ .id }}" aria-label="{{ with .ariaLabel }}{{ . }}{{ end }}" aria-controls="{{- .controls -}}" aria-expanded="false" class="btn pyxl-btn{{ with .class }} {{ . -}} {{ end }}">
         <!-- Checking if the icon provided is an svg or not -->
         {{ with .icon }}
            {{ if in . ".svg" }}
               {{ $icon := resources.Get . }}
               <img class="card--icon" src="{{ $icon.Permalink }}" alt="" height="24px" width="24px" />
            {{ else }}
               {{ $icon := resources.Get . }}
               <img class="card--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height | default "24px" }}" width="{{ $icon.Width | default "24px" }}" alt="" />
            {{ end}}
         {{ end }}
         <span>{{ .text }}</span>
      </button>
   </div>
{{ else }}
   <div class="btn-wrapper {{ with .btnClass }}{{ . }}{{ end }}">
      <a href="{{ .url }}" aria-label="{{ with .ariaLabel }}{{ . }}{{ end }}" class="btn pyxl-btn{{ with .class }} {{ . -}} {{ end }}" rel="{{ .rel }}">
         <!-- Checking if the icon provided is an svg or not -->
         {{ with .icon }}
            {{ if in . ".svg" }}
               {{ $icon := resources.Get . }}
               <img class="card--icon" src="{{ $icon.Permalink }}" alt="" height="24px" width="24px"  />
            {{ else }}
               {{ $icon := resources.Get . }}
               <img class="card--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height | default "24px" }}" width="{{ $icon.Width | default "24px" }}" alt="" />
            {{ end}}
         {{ end }}
         <span>{{ .text }}</span>
      </a>
   </div>
{{ end }}