<footer id="global-footer">

  <div class="footer--wrapper">
    <div class="container">
      <div class="footer--info">
        {{ $bat := resources.Get "images/bat-logo.svg" }}
        <img src="{{ $bat.Permalink }}" height="36px" width="36px" alt="">
        <h4>{{ .Title }}</h4>
        <p>Blockchain based digital advertising</p>
        <p class="small">The Basic Attention Token is the new token for the digital advertising industry. It pays publishers for their content and users for their attention, while providing advertisers with more in return for their ads.</p>
      </div>
      <div class="footer--menu-wrapper">
        <ul class="footer--menu">
          <li class="menu--header">
            BAT Community
          </li>
          <li class="menu--item">
            <a href="https://reddit.com/" rel="nofollow">Reddit</a>
          </li>
          <li class="menu--item">
            <a href="https://telegram.org/" rel="nofollow">Telegram</a>
          </li>
          <li class="menu--item">
            <a href="https://www.instagram.com/" rel="nofollow">Instagram</a>
          </li>
          <li class="menu--item">
            <a href="https://www.community.com/" rel="nofollow">Community</a>
          </li>
        </ul>
        <ul class="footer--menu">
          <li class="menu--header">
            Links
          </li>
          <li class="menu--item">
            <a href="https://store.brave.com/" rel="nofollow">BAT Shop</a>
          </li>
          <li class="menu--item">
            <a href="https://telegram.org/" rel="nofollow">Brave Browser</a>
          </li>
          <li class="menu--item">
            <a href="https://brave.com/careers/" rel="nofollow">Careers</a>
          </li>
          <li class="menu--item">
            <a href="https://brave.com/privacy/browser/" rel="nofollow">Provacy Policy</a>
          </li>
        </ul>
        <ul class="footer--menu">
          <li class="menu--header">
            Terms of Service
          </li>
          <li class="menu--item">
            <a href="https://store.brave.com/" rel="nofollow">Users</a>
          </li>
          <li class="menu--item">
            <a href="https://telegram.org/" rel="nofollow">Publishers</a>
          </li>
          <li class="menu--item">
            <a href="https://brave.com/careers/" rel="nofollow">Advertisers</a>
          </li>
        </ul>
        <ul class="footer--menu">
          <li class="menu--header">
            Contact
          </li>
          <li class="menu--item">
            Press
            <a class="underline" href="mailto:press@basicattentiontoken.org" rel="nofollow">press@basicattentiontoken.org</a>
          </li>
          <li class="menu--item">
            Questions
            <a class="underline" href="mailto:community.brave.com" rel="nofollow">community.brave.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/13868fe086.js" crossorigin="anonymous"></script>
   
   <!-- Javascript -->
   {{ $jquery := resources.Get "js/jquery.min.js"  }}
   {{ $custom := resources.Get "js/custom.js" | js.Build }}
   <script src="{{ $jquery.Permalink }}" ></script>
   <script src="{{ $custom.Permalink }}" ></script>
  <link rel="preload" 
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap"
  as="style"
  onload="this.onload=null; this.rel='stylesheet'; document.body.classList.add('fontLoaded')">

</footer>