<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#FFFFFF" />
   <meta
     name="description"
     content="{{ .Page.Description }}"
   />
   <meta property="og:url" content="{{ .Site.BaseURL }}" />
   <meta property="og:type" content="website" />
   <meta property="og:description" content="{{ .Page.Description }}" />
   {{ $image := resources.Get "images/logo.png" }}
   {{ with $image }}
   <meta property="og:image" content="{{ .Permalink }}" />
   {{ end }}
   <title>{{ .Page.Title }}</title>

   {{ "<!-- Scripts and Styles -->" | safeHTML}}
   {{ $styles := resources.Get "scss/main.scss" | resources.ToCSS | minify | fingerprint }}
   <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

   {{ with .Site.Params.googleAnalytics }}
      {{ "<!-- Google Analytics -->" | safeHTML }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() { dataLayer.push(arguments); }
         gtag('js', new Date());

         gtag('config', '{{ . }}');
      </script>
   {{ end }}
</head>