<header>
   <!-- <nav id="pyxl-nav" sticky="top">
      <a href="{{ .Site.BaseURL }}" class="navbar-branding">
         {{ $logo := resources.Get "images/bat-logo.svg" }}
         <img src="{{ $logo.Permalink }}" height="40px" width="40px" alt="" class="header-logo">
         <div class="nav-title">
            {{ .Title}}
         </div>
      </a>
      <button id="primary-navbar--btn" class="btn" aria-controls="#primary-navbar" aria-expanded="false" aria-haspopup="true" aria-label="Open menu." >
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 30">
            <path class="cls-1" d="M4.5,18H25.98" transform="translate(5.52)" />
            <path class="cls-1" d="M4.5,9h27" />
            <path class="cls-1" d="M4.5,27h27" />
         </svg>
      </button>
      <div id="primary-navbar" class="navbar">
         <ul class="navbar-nav">
            {{- range .Site.Menus.main -}}
               <li class="nav--item">
                  <a href="{{ $.Site.BaseURL }}{{ .URL }}" class="nav--link {{ if ($.IsHome)}}scroll{{ end}}">
                     {{- .Name -}}
                  </a>
                  {{- if .HasChildren -}}
                     <ul class="sub-nav--list">
                        {{- range .Children -}}
                           <li class="sub-nav--item">
                              <a class="sub-nav--link" href="{{ $.Site.BaseURL }}{{ .URL }}">
                                 {{- .Name -}}
                              </a>
                           </li>
                        {{- end -}}
                     </ul>
                  {{- end -}}
               </li>
            {{- end -}}
         </ul>
      </div>
   </nav> -->
</header>