{{with .Params.challenge}}
   <section id="challenge">
      <div class="container">
         <div class="section-titles">
            <h2>{{- .title -}}</h2>
            <p>{{- .subtitle -}}</p>
         </div>
         <div class="cards--wrapper">
            {{ range .cards }}
               {{ with .card }}
                  <div class="card">
                     <!-- Checking if the icon provided is an svg or not -->
                     {{ with .icon }}
                        {{ if in . ".svg" }}
                           {{ $icon := resources.Get . }}
                           <img class="card--icon" src="{{ $icon.Permalink }}" alt="" height="48px" width="48px" />
                        {{ else }}
                           {{ $icon := resources.Get . }}
                           <img class="card--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height }}" width="{{ $icon.Width }}" alt="" />
                        {{ end}}
                     {{ end }}
                     <p>{{- .title -}}</p>
                     <!-- Check if list is used -->
                     {{ with .list }}
                        <ul class="card--list">
                           <!-- Build list with each item -->
                           {{ range . }}
                              <li class="card--item">
                                 {{ . | safeHTML }}
                              </li>
                           {{ end }}
                        </ul>
                     {{ end}}
                  </div>
               {{ end }}
            {{ end }}
         </div>
      </div>
   </section>
{{ end }}