<section id="home-hero--wrapper">
   <div class="home-hero--background-images">
      <!-- Add images with home-hero-layer text -->
      {{ range $index, $image := resources.Match "images/home-hero-layer-*.png" }}
         <img class="home-hero--layer-{{- add $index 1 -}}" src="{{ $image.Permalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" alt="">   
      {{ end }}
   </div>
   <div class="container">
      {{ $logo := (resources.Get "images/home-hero-bat-logo.png").Resize "227x220"  }}
      <img class="home-hero--bat-logo img-responsive" src="{{ $logo.Permalink }}" height="{{ $logo.Height }}" width="{{ $logo.Width }}" alt="BAT Coin logo with decrotive dots.">
      <div class="home-hero--titles">
         {{ with .Title }}
            <h1>{{- . -}}</h1>
         {{ end }}
         {{ with .Params.subtitle }}
            <h2>{{- . -}}</h2>
         {{ end }}
      </div>
      <!-- Get the hero buttons-->
      <div class="home-hero--buttons">
         {{ range .Params.heroButtons }}
            {{ with .button }}
               <!-- Check if it is going to have a modal-->
               {{ if eq .type  "modal" }}
                  {{- partial "button.html" (dict "text" .text "id" "home-hero--modal-btn" "icon" .icon "ariaLabel" .ariaLabel ) -}}
                  <div id="home-hero--modal" aria-hidden="true">
                     <div class="home-hero--modal-inner">
                        {{ .iframe | safeHTML }}
                     </div>
                     <button id="close-home-hero--modal" class="btn pyxl-btn btn-outlined" aria-controls="#home-hero--modal" aria-label="close modal and return to site.">
                        <i class="fas fa-times"></i><span class="sr-only">Close Modal</span>
                     </button>
                  </div>
               {{ else }}
                  {{- partial "button.html" (dict "text" .text "icon" .icon "url" .link "class" "btn-outlined" "ariaLabel" .ariaLabel "rel" .rel ) -}}
               {{ end }}
            {{ end }}
         {{ end }}
      </div>
      <div class="home-hero--content">
         <p>{{- .Params.Description -}}</p>
      </div>
      <!-- Check if Uppercontent is set -->
      {{ with .Params.upperContent }}
         <div class="upper-content--wrapper">
            <!-- Go through the cards for upper content-->
            <div class="upper-content--inner">
               {{ range . }}
                  {{ with .card }}
                     <div class="upper-content--card">
                        <!-- Only return a title if it is used. -->
                        {{ with .title }}
                           <h2>{{- . -}}</h2>
                        {{ end }}
                        <!-- Check if there is an icon -->
                        {{ with .icon }}
                           <div class="upper-content--icon">
                              <!-- Checking if the icon provided is an svg or not -->
                              {{ if in . ".svg" }}
                                 {{ $icon := resources.Get . }}
                                 <img class="card--icon" src="{{ $icon.Permalink }}" alt="" height="48px" width="48px" />
                              {{ else }}
                                 {{ $icon := resources.Get . }}
                                 <img class="card--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height | default "24px" }}" width="{{ $icon.Width | default "24px" }}" alt="" />
                              {{ end}}
                           </div>
                        {{ end }}
                        <!-- Check if Content is used -->
                        {{ with .content }}
                           <p>{{ . }}</p>
                        {{ end }}
                        <!-- Check for links -->
                        {{ with .links }}
                           <!-- Looping through the links -->
                           {{ range . }}
                              <!-- Getting the elements in each link -->
                              {{ range . }}
                                 <a href="{{ .link }}" class="upper-content--link">
                                    {{ with .icon }}
                                       {{ $icon := resources.Get . }}
                                       {{ if in . ".svg" }}
                                          <img class="card--icon" src="{{ $icon.Permalink }}" alt="" height="20px" width="20px" />
                                       {{ else }}
                                          <img class="card--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height | default "24px" }}" width="{{ $icon.Width | default "24px" }}" alt="" />
                                       {{ end}}
                                    {{ end }}
                                    {{ .text }}
                                 </a>
                              {{ end }} <!-- Range end -->
                           {{ end }}<!-- Rand End -->
                        {{ end }}<!-- with End-->
                     </div><!-- .upper-content--card -->
                  {{ end }}<!-- with end-->
               {{ end }}<!-- range end-->
            </div> <!-- .upper-content--inner -->
         </div><!-- .upper-content--wrapper-->
      {{ end }}<!-- with end-->
   </div><!-- .container -->
</section>