<!-- get blog posts -->
{{ $posts := (where .Site.RegularPages "Type" "blog" ) }}
<!-- Convert to a number -->
{{ $posts := len $posts }}
<!-- Make sure that we have posts to show -->
{{ if gt $posts 0 }}
   <section id="posts">
      <div class="container">
         <!-- Get 3 latest posts-->
         {{ range (first 3 ( where .Site.RegularPages "Type" "blog" ).ByDate.Reverse).Reverse  }}
            <div class="post-card--wrapper">
               {{ if ne .Params.thumbnail "" }}
                  {{ $thumbnail := .Resources.GetMatch .Params.thumbnail }}
                  {{ $thumbnail := $thumbnail.Fill "280x312" }}
                  <img src="{{ $thumbnail.Permalink }}" alt="" class="post-card--image img-responsive" height="{{ $thumbnail.Height }}" width="{{ $thumbnail.Width }}">
               {{ else }}
                  {{ $thumbnail := resources.Get "images/thumbnail.png" }}
                  {{ $thumbnail := $thumbnail.Fit "280x312" }}
                  <img src="{{ $thumbnail.Permalink }}" alt="" class="post-card--image img-responsive" height="{{ $thumbnail.Height }}" width="{{ $thumbnail.Width }}">
               {{ end }}
               <div class="post-card--content">
                  <h4 class="categories">
                     {{ range .Params.categories }}
                        {{ . }}
                     {{ end }}
                  </h4>
                  <h2>{{- .Title -}}</h2>
                  <p>
                     {{- .Params.description -}}
                  </p>
                  <div class="btn-wrapper">
                     <a href="{{ .Permalink }}" class="btn pyxl-btn btn-outlined-alt " aria-label="Read more about {{ .Title }}">
                        Read this article
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7587 13L0.999996 13C0.447711 13 -3.8147e-06 12.5523 -3.8147e-06 12C-3.8147e-06 11.4477 0.447711 11 0.999996 11L20.7587 11L13.9712 4.73482C13.5654 4.36022 13.5401 3.72756 13.9147 3.32173C14.2893 2.91591 14.9219 2.8906 15.3278 3.26519L23.4638 10.7752C24.1787 11.4352 24.1787 12.5648 23.4638 13.2248L15.3278 20.7348C14.9219 21.1094 14.2893 21.0841 13.9147 20.6783C13.5401 20.2725 13.5654 19.6398 13.9712 19.2652L20.7587 13Z" fill="#212529"/>
                        </svg>                           
                     </a>
                     <!-- Create tweet link -->
                     {{ $twitter := replace (string ( delimit ( slice "https://twitter.com/intent/tweet?text=" .Title "&screen_name=brave"  ) "") ) " " "%20" }}
                     <a class="post-card--twitter" href="{{ $twitter | safeURL  }}" target="_blank" rel="noreferrer">
                        <span class="sr-only">Tweet to @brave - Open in external link.</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M24 4.31793C23.1628 4.7432 22.186 5.02671 21.2093 5.16847C22.2558 4.53056 23.0233 3.53826 23.4419 2.33332C22.4651 2.90035 21.4186 3.32562 20.3023 3.53826C18.7428 1.91556 16.3163 1.53312 14.3461 2.59951C12.376 3.66591 11.3349 5.92525 11.7907 8.14538C7.88372 7.93274 4.11628 6.08989 1.67442 2.90035C1.00332 3.98931 0.787951 5.3054 1.07614 6.55638C1.36433 7.80735 2.13223 8.88966 3.2093 9.56295C2.44186 9.56295 1.67442 9.42119 0.976744 9.0668C1.04651 11.4058 2.65116 13.4613 4.88372 13.9574C4.18605 14.1701 3.4186 14.1701 2.65116 14.0283C3.34884 16.0838 5.23256 17.5014 7.32558 17.5722C5.30233 19.2733 2.5814 20.053 0 19.6277C4.40067 22.611 10.0877 22.7942 14.6656 20.1C19.2434 17.4059 21.9162 12.3028 21.5581 6.94044C22.5349 6.23165 23.3721 5.38111 24 4.31793Z" fill="#1DA1F3"/>
                        </svg>                        
                     </a>
                  </div>
               </div>
            </div>
         {{ end }}
      </div>
   </section>
{{ end }}