{{ with .Params.splitContent }}
   <section id="advertising">
      <div class="container--full">
         <div class="section-titles">
            <!-- Get the image from assets folder -->
            {{ $image := resources.Get .image }}
            <!-- If we got a match then we can use it. -->
            {{ with $image }}
               {{ $image := .Resize "313x" }}
               <img src="{{ $image.Permalink }}" class="img-responsive" alt="" height="{{ $image.Height }}" width="{{ $image.Width }}">
            {{ end }}
            <!-- Make sure we have a title -->
            {{ with .title }}
               <h2>{{- . -}}</h2>
            {{ end }}
            <!-- Make sure we have a subtitle -->
            {{ with .subtitle }}
               <p>{{- . -}}</p>
            {{ end }}
         </div>
         <div class="column--wrapper">
            <!-- Make suire that we have steps -->
            {{ with .steps }}
               <div class="column--left">
                  <!-- Loop through each step -->
                  {{ range . }}
                     {{ with .step }}
                        <div class="step--wrapper">
                           <!-- Checking if the icon provided is an svg or not -->
                           {{ with .icon }}
                              {{ if in . ".svg" }}
                                 {{ $icon := resources.Get . }}
                                 <img class="step--icon" src="{{ $icon.Permalink }}" alt="" height="48px" width="48px" />
                              {{ else }}
                                 {{ $icon := resources.Get . }}
                                 <img class="step--icon" src="{{ $icon.Permalink }}" height="{{ $icon.Height }}" width="{{ $icon.Width }}" alt="" />
                              {{ end}}
                           {{ end }}
                           {{ with .content }}
                              <div class="step--content">
                                 {{ . | safeHTML }}
                              </div><!-- .step--content -->
                           {{ end }}
                        </div><!-- .step--wrapper -->
                     {{ end }}
                  {{ end }}
               </div><!-- .column--left-->
            {{ end }}
            <div class="column--right">
               <!-- Checking if the icon provided is an svg or not -->
               {{ $columnImage := resources.Get .columnImage }}
               {{ with $columnImage }}
                     {{ $columnImage := resources.Get . }}
                     <img class="step--icon img-responsive" src="{{ $columnImage.Permalink }}" height="{{ $columnImage.Height }}" width="{{ $columnImage.Width }}" alt="" />
               {{ end }}
            </div>
         </div><!-- .column--wrapper -->
      </div><!-- .container--full -->
   </section>
{{ end }}