{{ with .Params.works }}
   {{ $background := resources.Get .backgroundImage }}
   <section id="works" style="background-image: url({{- $background.Permalink -}});">
      <div class="container">
         <div class="section-titles">
            {{ with .title }}
               <h2>
                  {{- . -}}
               </h2>
            {{ end }}
            {{ with .description }}
               <p>
                  {{- . -}}
               </p>
            {{ end }}
         </div>
         {{range .cards }}
            {{ with .card }}
               <article class="works--article">
                  <div class="works--inner">
                     <header>
                        {{ with .title }}
                           <h3>{{- . -}}</h3>
                        {{ end }}
                     </header>
                     <div class="works--content">
                        {{ .content | safeHTML }}
                     </div>
                  </div>
               </article>
            {{ end }}
         {{ end }}
      </div>
   </section>
{{ end }}