//== Tablet Devices
@media screen and ( max-width: 1023px ) {

}

// Medium Devices
@media screen and (max-width: 768px) {
   #home-hero--wrapper {
      .upper-content--wrapper {
         padding: 30px 30px 40px;
         .upper-content--inner {
            display: flex;
            flex-wrap: wrap;
            .upper-content--card:not(:last-child) {
               margin-bottom: 36px;
            }
         }
      }
   }
   #challenge .cards--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card {
         max-width: 330px;
      }
   }
   #advertising .column--wrapper {
      justify-content: center;
   }
   #subpage,
   #global-footer {
      .container {
         grid-template-columns: 1fr;
      }
   }
   .footer--info {
      margin-bottom: 36px;
   }
   #global-footer {
      .footer--menu-wrapper {
         gap: 15px;
         .footer--menu {
            padding: 0;
         }
      }
   }
}
// Smaller Devices
@media screen and (max-width: 639px) {
   #home-hero--wrapper {
      padding: 90px 0 0;
      .home-hero--bat-logo {
         width: 150px;
         height: auto;
      }
      .home-hero--titles {
         h1 {
            font-size: 2.25em;
         }
         h2 {
            font-size: 1.15em;
            line-height: 1.75em;
         }
      }
   }
   .hero--wrapper .hero--title {
      font-size: 2em;
   }
   #posts .post-card--wrapper {
      grid-template-columns: 1fr;
      justify-content: flex-start;
      .post-card--image {
         height: auto;
      }
   }
   #works {
      background-size: calc( 100% - 60px ) auto;
      .section-titles {
         h2 {
            font-size: 2em;
         }
         p {
            font-size: 1.25em;
         }
      }
      .works--article .works--inner {
         grid-template-columns: 1fr;
      }
   } 
}