.btn-wrapper {
   display: flex;
   justify-content: flex-start;
   &.center {
      justify-content: center;
   }
}
.btn {
   padding: 8px 15px;
   cursor: pointer;
   margin: 0;
   padding: 0;
   color: inherit;
   border: 0 solid transparent;
   background: transparent;
   text-decoration: none;
   &:hover,
   &:focus {
      text-decoration: none;
   }
}
.pyxl-btn {
   color: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
   font-size: 1.067em;
   padding: 10px 20px;
   min-width: 215px;
   border-radius: 100px;
   background: $button--primary;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 0 0 0 $button--primary-focus-outline;
   &:hover {
      background: $button--primary-hover;
   }
   &:focus {
      box-shadow: 0 0 0 4px $button--primary-focus-outline;
   }
   &.btn-outlined {
      border: 1px solid $button--outline;
      background: transparent;
      box-shadow: 0 0 0 0 $button--outline-focus;
      &:hover {
         box-shadow: 0 0 0 1px $button--outline-hover;
      }
      &:focus {
         box-shadow: 0 0 0 4px $button--outline-focus;
      }
   }
   &.btn-outlined-alt {
      border: 1px solid $button--outline-alt;
      background: transparent;
      box-shadow: 0 0 0 0 $button--outline-alt-focus;
      svg {
         path {
            transition: fill 0.3s ease-in-out;
         }
      }
      &:hover {
         color: $button--outline-alt-hover-text;
         box-shadow: 0 0 0 1px $button--outline-alt-hover;
         svg {
            path {
               fill: $button--outline-alt-hover-text;
            }
         }
      }
      &:focus {
         box-shadow: 0 0 0 4px $button--outline-alt-focus;
      }
   }
}
