.container {
   position: relative;
   display: block;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}
.container--full {
   width: 100%;
   margin: 0;
   padding: 0 30px;
}