#global-footer{
   position: relative;
   display: block;
   color: #FFF;
   padding: 49px 0 47px;
   background: #28222E;
   .container {
      display: grid;
      align-content: flex-start;
      grid-template-columns: 280px 1fr;
   }
   .footer--info {
      h4 {
         margin: 0;
         font-size: 1em;
      }
      p {
         margin: 0;
         font-size: 0.933em;
         &.small {
            margin-top: 16px;
            font-size: 0.8em;
            line-height: 1.5em;
         }
      }
   }
   .footer--menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .footer--menu {
         list-style: none;
         margin: 0;
         .menu--header {
            font-weight: 500;
            margin-bottom: 24px;
         }
         .menu--item {
            margin-bottom: 16px;
            font-size: 0.867em;
            a {
               display: block;
               color: inherit;
               text-decoration: none;
               &:hover,
               &:focus {
                  text-decoration: underline;
               }
               &.underline {
                  text-decoration: underline;
               }
            }
         }
      }
   }
}