#home-hero--wrapper {
   position: relative;
   color: $color--hero-background-text;
   padding: 165px 0 0;
   text-align: center;
   background: $color--hero-background;
   .home-hero--background-images {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      img {
         position: absolute;
         height: auto;
         margin: auto;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
      .home-hero--layer-1 {
         opacity: 0.1;
         width: 100%;
         top: auto;
         bottom: 0;
      }
      .home-hero--layer-2 {
         top: 48px;
         left: auto;
         right: 48px;
         bottom: auto;
      }
   }
   .home-hero--titles {
      margin: 54px 0 0;
      h1 {
         font-size: 3.467em;
         font-weight: 600;
         margin: 0;
      }
      h2 {
         font-size: 1.467em;
         font-weight: 400;
         margin: 8px 0 0;
      }
   }
   .home-hero--buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 11px;
      margin: 32px 0 0;
   }
   .home-hero--content {
      margin-top: 62px;
      p {
         margin-top: 0;
      }
   }
   #home-hero--modal {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: calc(100vw - 15px);
      background: rgba(0,0,0,0.75);
      z-index: 1000;
      .home-hero--modal-inner {
         position: relative;
         display: flex;
         height: 100%;
         width: 100%;
         justify-content: center;
         align-content: center;
         iframe {
            margin: auto;
         }
      }
      #close-home-hero--modal {
         position: absolute;
         top: 30px;
         right: 30px;
         color: #fff;
         border-radius: 100px;
      }
   }
   .upper-content--wrapper {
      position: relative;
      color: $color--text;
      text-align: left;
      padding: 72px 30px 100px;
      border-radius: 12px;
      margin: 62px 0 -158px;
      background: #FFF;
      box-shadow: 0 4px 4px rgba(0,0,0,0.4);
      z-index: 100;
      .upper-content--inner {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(240px, 250px) );
         justify-content: space-between;
         max-width: 890px;
         margin: 0 auto;
      }
      .upper-content--card {
         h2 {
            font-size: 1.867em;
            font-weight: 500;
         }
         .upper-content--link {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            &:hover,
            &:focus {
               text-decoration: underline;
            }
         }
      }
   }
}

//== The Challenge
#challenge {
   position: relative;
   padding: 228px 0 36px;
   background: $color--background-off-white;
   .cards--wrapper {
      display: grid;
      gap: 30px;
      margin: 32px auto 0;
      justify-content: space-between;
      grid-template-columns: repeat( auto-fit, minmax(300px, 305px));
      max-width: 980px;
   }
   .card {
      padding: 32px;
      border-radius: 12px;
      background: $color--background;
      p:first-of-type {
         font-weight: 500;
      }
      ul {
         margin: 15px 0 0;
         padding: 0 0 0 18px;
         li {
            margin-bottom: 15px;
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }
}
.section-titles {
   text-align: center;
   h2 {
      font-size: 2.4em;
      font-weight: 500;
      margin: 0;
   }
   p {
      font-size: 1.2em;
      margin: 10px 0 0;
   }
}

//== Advertising - Split Content
#advertising {
   padding: 48px 0 114px;
   .column--wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 36px auto 0;
      justify-content: space-between;
      .column--left {
         display: grid;
         max-width: 475px;
         .step--wrapper {
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 24px;
            .step--icon {
               position: relative;
               height: 48px;
               width: 48px;
               z-index: 20;
            }
            &:not(:last-child):before {
               position: absolute;
               display: block;
               content: '';
               top: 20px;
               left: 23px;
               height: 100%;
               width: 2px;
               background: #E9E9F4;
               z-index: 5;
            }
         }
      }
      .column--right {
         display: flex;
         align-items: center;
         justify-content: flex-end;
      }
   }
}

//== Recent Posts
#posts {
   padding: 132px 0;
   background: $color--background-off-white;
   .container {
      display: grid;
      gap: 16px;
   }
   .post-card--wrapper {
      display: grid;
      max-width: 823px;
      margin: 0 auto;
      grid-template-columns: 280px 1fr;
      border-radius: 8px;
      border: 1px solid #E9E9F4;
      background: $color--background;
      .post-card--content {
         padding: 56px 48px;
         .categories {
            font-size: 0.8em;
            color: #868E96;
            text-transform: uppercase;
            font-weight: 500;
            margin: 0;
         }
         h2 {
            font-size: 1.2em;
            font-weight: 500;
            margin: 8px 0 0;
         }
         p {
            margin: 16px 0 0;
         }
      }
      .post-card--image {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: center;
      }
      .btn-wrapper {
         display: flex;
         flex-wrap: wrap;
         margin-top: 36px;
         align-items: center;
         justify-content: space-between;
      }
   }
}

//== Works
#works {
   padding: 255px 0 91px;
   background: #353DAB;
   background-size: 43% auto;
   background-position: 30px 0;
   background-repeat: no-repeat;
   .section-titles {
      color: #fff;
      max-width: 651px;
      margin: 0 0 85px auto;
      h2 {
         font-size: 3.467em;
      }
      p {
         font-size: 1.467em;
         line-height: 2em;
      }
   }
   .works--article {
      border-radius: 12px;
      background: $color--background;
      &:not(:last-child) {
         margin-bottom: 16px;
      }
      .works--inner {
         display: grid;
         grid-template-columns: 240px 1fr;
         gap: 36px;
         max-width: 877px;
         margin: 0 auto;
         padding: 48px 20px;
         h3 {
            font-size: 1.867em;
            font-weight: 500;
            margin: 0;
         }
         .works--content {
            font-size: 0.933em;
            line-height: 1.433em;
            p {
               margin: 0 0 8px;
               &:last-child {
                  margin: 0;
               }
            }
         }
      }
   }
}