//== Subpage Hero
.hero--wrapper {
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   min-height: 328px;
   padding: 30px;
   background-color: #17171F;
   background-image: url(/images/hero-left.png),
                     url(/images/hero-right.png);
   background-position: 30px 20px, right 5px;
   background-repeat: no-repeat, no-repeat;
   .hero--title {
      margin: 0;
      text-align: center;
      font-size: 3.467em;
   }
}

//== Subpage Content
#subpage {
   padding: 73px 0 72px;
   .container {
      display: grid;
      grid-template-columns: 256px 1fr;
      gap: 5vw;
      align-content: flex-start;
   }
   .table-of-contents {
      h2 {
         margin: 0;
         font-size: 0.9333em;
         font-weight: 500;
      }
   }
   .table-of-contents--list {
      font-size: 0.9333em;
      padding: 0;
      margin: 24px 0 0;
      list-style: none;
      .table-of-contents--item {
         margin-bottom: 16px;
      }
      .table-of-contents--link {
         color: inherit;
         text-decoration: none;
      }
   }
   .subpage--article {
      header {
         display: flex;
         flex-wrap: wrap;
         align-content: center;
         justify-content: space-between;
         margin-bottom: 40px;
      }
      p {
         margin: 0 0 24px;
      }
      img {
         max-width: 100%;
         height: auto;
      }
      figure {
         margin: 0;
         figcaption {
            font-size: 0.8em;
            line-height: 1.5em;
         }
      }
   }
   .article--twitter {
      color: inherit;
      display: flex;
      gap: 16px;
      align-content: center;
      text-decoration: none;
   }
   hr {
      max-width: 1140px;
      margin: 24px auto;
      border-color: #E6E8F5;
   }
   .section-titles {
      margin-top: 56px;
   }
   .related-card--wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 36px;
      justify-content: center;
      .related-card {
         max-width: 378px;
         width: 100%;
         text-align: left;
         h4 {
            font-size: 1em;
            font-weight: 500;
            margin: 36px 0 0;
         }
         p {
            margin: 8px 0;
         }
         .pyxl-btn {
            margin-top: 44px;
         }
      }
      .related-card--image {
         border-radius: 10px;
         height: 290px;
         width: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}