//== Typography
$body--font-size: 15px !default;
$body--font-family: 'Poppins', 'Roboto', sans-serif;
$body--font-weight: 400 !default;
$body--line-height: 1.75em !default;


//== Colors
$color--text: #212529 !default;
$color--text2: #495057 !default;
$color--text3: #868E96 !default;
$color--hero-background: #17171F !default;
$color--hero-background-text: #FFFFFF !default;

//== Button Colors
$button--primary: #4C54D2 !default;
$button--primary-text: #FFFFFF !default;
$button--primary-hover: #353DAB !default;
$button--primary-focus-outline: #A0A5EB !default;
$button--primary-disabled: #DADCE8 !default;
$button--outline: rgba(255,255,255,0.4) !default;
$button--outline-hover: #FFFFFF !default;
$button--outline-focus: rgba(255,255,255,0.6) !default;
$button--outline-alt: #AEB1C2 !default;
$button--outline-alt-hover: #4C54D2 !default;
$button--outline-alt-hover-text: #4C54D2 !default;
$button--outline-alt-focus: #A0A5EB !default;

//== Dividers & Outlines
$color--divider-outlines: #E9E9F4 !default;

//== Background Colors
$color--background-off-white: #F8F8F8 !default;
$color--background: #FFFFFF !default;