{{ define "main" }}
   <main>
      <h1>
         Oops looks like you are lost.
      </h1>
      <p>Here is a picture of a furry friend Give hime a click and he will take you back home.</p>
      <a href="{{ .Site.BaseURL }}">
         {{ $image := resources.Get "images/puppy.jpeg" }}
         <img src="{{ $image.Permalink }}" alt="" class="img-responsive" height="{{ $image.Height }}" width="{{ $image.Width }}">
         <span class="sr-only">Return back home page.</span>
      </a>
   </main>
{{ end }}